#!/bin/bash

if [[ -f "$HOME/.xprofile.local" ]]; then
  source ~/.xprofile.local
fi

[[ -f $HOME/.Xresources ]] && xrdb -merge $HOME/.Xresources
find -L $HOME/.Xresources.d -type f -exec xrdb -merge '{}' \;

xhost +

export TERMINAL="alacritty"

[[ -f $HOME/.fehbg ]] && sh $HOME/.fehbg

[[ ! -z "$DISPLAY" ]] && setxkbmap -option caps:escape
