#!/bin/bash

_address="$(systemctl --user show-environment | grep -E '^DBUS_SESSION_BUS_ADDRESS=')"
if [ $? -eq 0 ]; then
  export "$_address"
fi

systemctl --user import-environment DISPLAY XAUTHORITY

if command -v dbus-update-activation-environment >/dev/null 2>&1; then
    dbus-update-activation-environment DISPLAY XAUTHORITY
fi

if [[ -f "$HOME/.xprofile.local" ]]; then
  source ~/.xprofile.local
fi

[[ -f $HOME/.Xresources ]] && xrdb -merge $HOME/.Xresources
find -L $HOME/.Xresources.d -type f -exec xrdb -merge '{}' \;

xhost +

export TERMINAL="alacritty"

[[ -f $HOME/.fehbg ]] && sh $HOME/.fehbg

[[ ! -z "$DISPLAY" ]] && setxkbmap -option caps:escape
