Xft.dpi:                96
!Xft*antialias:          true
!Xft.lcdfilter:          lcddefault
!Xft.rgba:               rgb
!Xft*hinting:            true
!Xft*hintstyle:          hintslight
!Xft*autohint:           false

Xcursor.theme:          Neutral

*.font: monospace:pixelsize=14:dpi=96

st.termname: st-256color
st.blinktimeout: 800
st.bellvolume: 0
st.tabspaces: 8
st.borderpx: 2
st.cwscale: 0.85
st.chscale: 1.0
dwm.font: Terminus:pixelsize=14
