Xft.dpi:                81
!Xft*antialias:          true
!Xft.lcdfilter:          lcddefault
!Xft.rgba:               rgb
!Xft*hinting:            true
!Xft*hintstyle:          hintslight
!Xft*autohint:           false

Xcursor.theme:          Neutral

*.font: mono:pixelsize=14:dpi=109

st.termname: st-256color
st.xfps: 120
st.actionfps: 30
st.blinktimeout: 800
st.bellvolume: 0
st.tabspaces: 8
st.borderpx: 2
st.cwscale: 1.0
st.chscale: 1.0
